@CHARSET "UTF-8";

.input-group {
	width: 30%;
	margin: 0 auto;
}

#page_bar {
	text-align: center;
	height: 40px;
	margin: 30px auto;
	color: rgba(10, 86, 224, 1);
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
}

table tr, table td {
	border: 1px solid #cad9ea;
	color: #666;
}

 
table tr:nth-child(even) {
	background: #F5FAFA;
}

span {
	margin: 15px;
}